
body,html{
    font-family:'Arial', 'Microsoft YaHei UI';
}

.line{
    margin:0.5em 0;
}

.personalInfoForm input[type='button']{
    margin-left: 48.3%;
    padding: 0.15em 6em;
}

.label{
    float: left;
    width: 50%;
    text-align: right;
}

input[type='text'],input[type='password'],input[type='email']{
    margin-left:1em;
}